# Project config
GOOGLE_CLOUD_PROJECT="GCP_PROJECT_ID"
GOOGLE_CLOUD_PROJECT_NUMBER="GCP_PROJECT_NUMBER"
GOOGLE_CLOUD_LOCATION="LOCATION"
GOOGLE_GENAI_USE_VERTEXAI=True

# Telemetry and debugging config
GOOGLE_CLOUD_AGENT_ENGINE_ENABLE_TELEMETRY=True
OTEL_INSTRUMENTATION_GENAI_CAPTURE_MESSAGE_CONTENT=True

# Agent config
AUTH_ID="user-info-auth"
CLIENT_ID="CLIENT_ID"
CLIENT_SECRET="CLIENT_SECRET"
# URI encoded scopes
SCOPES="https%3A//www.googleapis.com/auth/cloud-platform%20https%3A//www.googleapis.com/auth/userinfo.email%20https%3A//www.googleapis.com/auth/userinfo.profile%20openid"
TOKEN_URI="https://oauth2.googleapis.com/token"
AUTH_URI="https://accounts.google.com/o/oauth2/v2/auth?client_id=${CLIENT_ID}&redirect_uri=https%3A%2F%2Fvertexaisearch.cloud.google.com%2Fstatic%2Foauth%2Foauth.html&scope=${SCOPES}&include_granted_scopes=true&response_type=code&access_type=offline&prompt=consent"

MCP_SERVER_URL="https://user-info-mcp-server-${GOOGLE_CLOUD_PROJECT_NUMBER}.${GOOGLE_CLOUD_LOCATION}.run.app/mcp"
AGENT_ENGINE_ID=AGENT_ENGINE_ID
GEMINI_ENTERPRISE_APP_ID=GEMINI_ENTERPRISE_APP_ID
